@implements IAsyncDisposable
@using System.ComponentModel.DataAnnotations
@using System.Xml
@inject IRaceSvc svc
@inject IJSRuntime jsRuntime

@if (error != null)
{
	<div class="alert alert-danger">@error</div>
}
@if (StartsList == null)
{
	<LoadingSpinner />
}
else
{
	<div class="row pb-3">
		<div class="col">
			<table class="table table-stripped table-hover table-bordered">
				<thead>
					<tr>
						<th>Заезд</th>
						<th>Старт</th>
						<th>Категории</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var cs in StartsList)
					{
						var start = cs;
						<tr @key="start.Id">
							<td>@start.Name</td>
							<td>@Utils.FormatTime(start.PlannedStart)</td>
							<td>@string.Join(", ", start.Categories.Select(c => c.Name))</td>
							<td>
								<div class="btn-group">
									@if (start.RealStart == null)
									{
										if (!haveActiveStart)
										{
											<button class="btn btn-success" @onclick="@(() => Start(start.Id))">Начать</button>
										}
									}
									else
									{
										<NavLink class="btn btn-outline-success" href="@($"results/{start.Id}")">Результаты</NavLink>
									}
									<button class="btn btn-outline-primary" @onclick="@(() => EditStart(start))">Изменить</button>
									<button @onclick="@(() => DeleteStart(start.Id))" class="btn btn-outline-danger">Удалить</button>
								</div>
							</td>
						</tr>
					}
				</tbody>

			</table>
			@if (editModel == null)
			{
				<button class="btn btn-outline-primary" @onclick="@(() => EditStart(null))">Добавить заезд</button>
			}
			else
			{
				<EditForm Model="@editModel" OnValidSubmit="@SaveStart" class="bg-light p-3">
					<DataAnnotationsValidator />
					@if (editModel.Id > 0)
					{
						<h3>Изменение заезда</h3>
					}
					else
					{
						<h3>Добавление заезда</h3>
					}
					<div class="form-row">
						<div class="form-group col-2">
							<label for="name">Название</label>
							<InputText id="name" @bind-Value="editModel.Name" class="form-control" DisplayName="Название" />
							<ValidationMessage For="@(() => editModel.Name)" />
						</div>
						<div class="form-group col-2">
							<label for="plannedStart">Время старта</label>
							<InputText type="time" @bind-Value="editModel.PlannedStartString" class="form-control" DisplayName="Время старта" id="plannedStart" />
						</div>
						<div class="form-group col-2">
							<label for="startType">Тип</label>
							<div>
								<InputRadioGroup id="startType" @bind-Value="editModel.StartType">
									<div class="form-check form-check-inline">
										<InputRadio id="laps" Value="Proto.StartType.Laps" class="form-check-input"></InputRadio>
										<label class="form-check-label" for="laps">Групповая гонка</label>
									</div>
									<div class="form-check form-check-inline">
										<InputRadio Value="Proto.StartType.TimeTrial" id="timeTrial" class="form-check-input" />
										<label class="form-check-label" for="timeTrial">Раздельный старт</label>
									</div>
								</InputRadioGroup>
							</div>
							<ValidationMessage For="@(() => editModel.StartType)" />
						</div>
						@if (editModel.StartType == Proto.StartType.Laps)
						{
							<div class="form-group col-2">
								<label for="delayMarksAfterStart" title="Сколько минут не добавлять результаты после старта">Задержка отм.(мин)</label>
								<InputNumber @bind-Value="editModel.DelayMarksAfterStartMinutes" class="form-control" DisplayName="Задержка" id="delayMarksAfterStart" />
								<ValidationMessage For="@(() => editModel.DelayMarksAfterStartMinutes)" />
							</div>
						}
						<div class="form-group col-4">
							<label>Категории</label>
							<div>
								@foreach (var cat in editModel.Categories)
								{
									var category = cat;
									<div class="form-check form-check-inline">
										<InputCheckbox @bind-Value="category.Selected" id="@($"category{category.Id}")" class="form-check-input" />
										<label for="@($"category{category.Id}")" class="form-check-label">@category.Name</label>
									</div>
								}
							</div>
						</div>
					</div>
					<div class="form-row">
						<button class="btn btn-primary" type="submit" disabled="@editModel.IsSaving">
							@if (editModel.IsSaving)
							{<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>}
							@($"{(editModel.Id == 0 ? "Добавить" : "Сохранить")} заезд")
						</button>
						<button class="btn btn-secondary ml-3" type="reset" disabled="@editModel.IsSaving" @onclick="@(()=> editModel = null)">Отмена</button>
					</div>
				</EditForm>
			}
		</div>
	</div>
}

@code {
	[Parameter]
	public int RaceId { get; set; }

	[Parameter]
	public DateTime RaceDate { get; set; }

	private string? error;
	private ICollection<Proto.Start>? StartsList { get; set; }
	private ICollection<Proto.RaceCategory>? RaceCategories { get; set; }
	private bool haveActiveStart;
	private IDisposable? subscription;


	protected override async Task OnInitializedAsync()
	{
		subscription = svc.GetRaceInfoSubject().Subscribe(r =>
		{
			haveActiveStart = r != null;
			StateHasChanged();
		});
		await LoadStarts();
	}

	public ValueTask DisposeAsync()
	{
		subscription?.Dispose();
		return ValueTask.CompletedTask;
	}

	private async Task LoadStarts()
	{
		try
		{
			error = null;
			if (RaceId <= 0) throw new ArgumentException("RaceId incorrect");
			var startsCall = svc.GetStarts(RaceId);
			var catsCall = svc.GetRaceCategories(RaceId);
			StartsList = await startsCall;
			RaceCategories = await catsCall;
			StateHasChanged();
		}
		catch (Exception ex)
		{
			error = ex.ToString();
		}
	}

	private void EditStart(Proto.Start? start)
	{
		if (RaceCategories != null)
			editModel = new StartEditModel(RaceDate, RaceCategories, start);
	}

	private async Task DeleteStart(int startId)
	{
		if (await Utils.Confirm(jsRuntime, "Удалить старт?"))
		{
			try
			{
				error = null;
				await svc.DeleteStart(startId);
				await LoadStarts();
			}
			catch (Exception ex)
			{
				error = ex.ToString();
			}
		}
	}

	private async Task Start(int startId)
	{
		try
		{
			error = null;
			await svc.SetActiveStart(startId);
		}
		catch (Exception ex)
		{
			error = ex.ToString();
		}
	}

	private async Task SaveStart()
	{
		if (editModel == null) return;
		try
		{
			error = null;
			editModel.IsSaving = true;
			var start = new Proto.Start
			{
				DelayMarksAfterStartMinutes = editModel.DelayMarksAfterStartMinutes ?? 0,
				Id = editModel.Id,
				Name = editModel.Name,
				Type = editModel.StartType,
				PlannedStart = editModel.PlannedStart.HasValue ?
					Google.Protobuf.WellKnownTypes.Timestamp.FromDateTime(editModel.PlannedStart.Value.ToUniversalTime()) :
					null,
			};
			foreach (var cat in editModel.Categories.Where(c => c.Selected))
			{
				start.Categories.Add(new Proto.Start.Types.Category
				{
					Id = cat.Id,
					Name = cat.Name
				});
			}
			if (start.Id == 0)
				await svc.AddStart(RaceId, start);
			else
				await svc.UpdateStart(start);

			await LoadStarts();
			editModel = null;
		}
		catch (Exception ex)
		{
			error = ex.ToString();
			if (editModel != null) editModel.IsSaving = false;
		}
	}

	private StartEditModel? editModel;

	private class StartEditModel
	{

		public class Category
		{
			public Category(int id, string name, bool selected)
			{
				Id = id;
				Name = name;
				Selected = selected;
			}
			public int Id { get; set; }
			public string Name { get; set; }
			public bool Selected { get; set; }
		}

		public StartEditModel(DateTime raceDate, IEnumerable<Proto.RaceCategory> allCategories, Proto.Start? start)
		{
			this.raceDate = raceDate;
			var currentCategories = start?.Categories.Select(c => c.Id).ToArray();
			if (start != null)
			{
				Id = start.Id;
				Name = start.Name;
				PlannedStart = start.PlannedStart?.ToDateTime().ToLocalTime();
				StartType = start.Type;
				DelayMarksAfterStartMinutes = start.DelayMarksAfterStartMinutes <= 0 ? null : start.DelayMarksAfterStartMinutes;
			}
			Categories = allCategories.Select(c => new Category(c.Id, c.Name, currentCategories?.Any(cc => cc == c.Id) ?? false)).ToArray();
		}

		private DateTime raceDate;

		public int Id { get; set; }

		[Required(ErrorMessage = "Название обязательно")]
		public string Name { get; set; } = "";

		public DateTime? PlannedStart { get; set; }
		public string PlannedStartString
		{
			get => PlannedStart?.ToString("HH:mm") ?? string.Empty;
			set
			{
				if (TimeSpan.TryParse(value, out var timeSpan))
				{
					PlannedStart = DateTime.SpecifyKind(raceDate.Date.Add(timeSpan), DateTimeKind.Local);
				}
				else
				{
					PlannedStart = null;
				}
			}
		}

		public Proto.StartType StartType { get; set; }

		[Range(0, int.MaxValue, ErrorMessage = "Должно быть неотрицательное число")]
		public int? DelayMarksAfterStartMinutes { get; set; }

		public Category[] Categories { get; set; }

		public bool IsSaving { get; set; }
	}
}
